input[type="file"] {
  cursor: pointer;
  max-width: 250px;
}

.recommended-posts {
  scroll-snap-type: x mandatory;
}

.recommended-post {
  scroll-snap-align: start;
}

.pointer {
  cursor: pointer;
}

.MuiButtonBase-root {
  padding: 4px !important;
  margin: 4px !important;
  align-items: center;
}

.MuiChip-clickable {
  height: 26px !important;
}

.MuiChip-label {
  max-width: 220px !important;
}

.glassmorphism-light {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glassmorphism-dark {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.chakra-accordion__item {
  border-radius: 6px;
}

.chakra-skeleton {
  width: 100% !important;
}
