input[type="file"] {
  max-width: 250px;
  cursor: pointer;
}

.recommended-posts {
  scroll-snap-type: x mandatory;
}

.recommended-post {
  scroll-snap-align: start;
}

.pointer {
  cursor: pointer;
}

.MuiButtonBase-root {
  align-items: center;
  padding: 4px !important;
  margin: 4px !important;
}

.glassmorphism-light {
  background: rgb(255 255 255 / 40%);
  border: 2px solid rgb(255 255 255 / 20%);
  backdrop-filter: blur(5px);
}

.glassmorphism-dark {
  background: rgb(0 0 0 / 40%);
  border: 2px solid rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}

.chakra-accordion__item {
  border-radius: 6px;
}

.chakra-skeleton {
  width: 100% !important;
}

/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.loading-background-dark,
.loading-background-light {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  cursor: progress;
  backdrop-filter: blur(15px);
}

.loading-background-light {
  background: rgb(255 255 255 / 40%);
}

.loading-background-dark {
  background: rgb(0 0 0 / 40%);
}

.loading-bar .loading-circle {
  z-index: 9999;
  position: absolute;
  top: 40%;
  left: 49%;
  pointer-events: none;
  cursor: progress;
}

p a:hover {
  font-weight: bold;
}

.container {
  border: 2px solid #0d0d0d !important;
}

.container:hover {
  border: 2px solid #0d0d0d !important;
  box-shadow: 2px 2px 0 0 #0d0d0d !important;
  transition: box-shadow 0.2s ease-in-out !important;
}

.button:hover {
  box-shadow: 2px 2px 0 0 #0d0d0d !important;
  transition: box-shadow 0.2s ease-in-out !important;
}

.form {
  border-left: 2px solid #0d0d0d !important;
}

.footer {
  border-top: 2px solid #0d0d0d !important;
}

input,
textarea {
  border: 1px solid #0d0d0d !important;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border: 1px solid #0d0d0d !important;
  box-shadow: 1px 1px 0 0 #0d0d0d !important;
  transition: box-shadow 0.2s ease-in-out !important;
}

.chakra-popover__popper {
  max-height: 133px;
  max-width: 322px;
}
